In [33]:
from openai import OpenAI
import pandas as pd
import random

In [34]:
client = OpenAI(api_key = "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")

In [35]:
df = pd.read_csv('src/data/entities.csv')
df.head(3)

,title,url,year,text,entities,temperature,color,x,y,cluster
0,2024 Innovator of the Year: Shawn Shan builds ...,https://www.technologyreview.com/2024/09/10/11...,2024,2024 Innovator of the Year: Shawn Shan builds ...,"['Midjourney', 'Karla Ortiz', 'Nightshade', 'W...",2,#0000ff,203.896104,421.675325,-1
1,What impact will AI have on video game develop...,https://www.technologyreview.com/2024/09/10/11...,2024,What impact will AI have on video game develop...,"['Midjourney', 'Netherlands', 'Clearview AI', ...",2,#0000ff,276.623377,556.571429,-1
2,"To be more useful, robots need to become lazier",https://www.technologyreview.com/2024/09/09/11...,2024,"To be more useful, robots need to become lazie...","['Bold Hearts', 'Tech United', 'Tech United’s'...",2,#0000ff,141.558442,608.454545,p_2

In [36]:
df.shape

(590, 10)

In [37]:
df['cluster'].value_counts()

cluster
-1      118
p_11     93
n_1      78
p_14     46
p_5      35
p_17     31
p_12     22
p_10     18
n_0      18
p_15     14
n_5      13
p_1      12
p_3      11
p_13      8
p_4       8
p_16      8
p_8       7
p_9       7
n_3       7
p_7       7
p_0       6
p_2       6
p_6       6
n_2       6
n_4       5
Name: count, dtype: int64

In [38]:
# Filter the headlines belonging to cluster 
cluster_id = 'n_0'
cluster_headlines = df[df['cluster'] == cluster_id]['title']

# Randomly select 10 headlines (or less if there aren't enough) with the seed directly in the same line
random_headlines = random.Random(0).sample(cluster_headlines.tolist(), min(10, len(cluster_headlines)))

# Convert the list of headlines into a string to pass to the API
headlines_text = "\n".join(random_headlines)
print(headlines_text)

Podcast: Playing the job market
Disability rights advocates are worried about discrimination in AI hiring tools
Google’s new AI can hear a snippet of song—and then keep on playing
DeepMind has predicted the structure of almost every protein known to science
Powering the next generation of AI
A quick guide to the most important AI law you’ve never heard of
Force multipliers: accelerating developers through platform software
MIT Technology Review
This avocado armchair could be the future of AI
These simple changes can make AI research much more energy efficient

In [41]:
# Send the request to the ChatGPT API
response = client.chat.completions.create(
    model="gpt-4",  # Or "gpt-3.5-turbo" depending on your subscription
    messages=[
        {"role": "system", "content": "You are an expert in text analysis."},
        {"role": "user", "content": f"Here are some news headlines about artificial intelligence:\n\n{headlines_text}\n\nCan you identify the common theme or topic of these headlines?"}
    ],
    max_tokens=50
)

In [45]:
print(response.choices[0].message.content)

The common theme of these headlines is advancements, impact and concerns related to Artificial Intelligence (AI).